@font-face {
  font-family: calcDisplay;
  src: url('Fonts/digital-7.ttf'); 
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    background-color: #3D2B1F;
}

.calculator{
    border: 2px solid black;
    background-color: #333333;
    min-height: 400px;
    min-width: 300px;
    padding: 25px;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.display{
    font-family: calcDisplay,sans-serif;
    font-size: 200%;
    background-color: #cccccc;
    color: #3D2B1F;
    display: flex;
    min-height: 20%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    margin: 20px;
}

.buttons{
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: space-between;
    margin: 10px;
}

.numbers{
    display: flex;
    flex-direction: column;
    width: 60%;
    flex-grow: 1;
}

.operators{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    flex-grow: 1;
}

#opRow1{
    max-height: 25%;
    width: 100%;
    align-self:flex-end;
}

#bottomOps{
    display: flex;
    flex-direction: column;
    height: 50%;
}

.btnRow{
    display: flex;
    flex-grow: 1;
}

.btn{
    background-color: #3D2B1F;
    color: antiquewhite;
    border: 1px solid black;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 2px;
    border-radius: 15px;
}

.footer{
    margin-top: 30px;
    color: antiquewhite;
    a{
        color: lightblue
    }
}

#AC{
    background-color: #560319
}

#dot{
    background-color: #7209b7;
}

.num{
    background-color: #0e1a40;
}

.op{
    background-color: #1a472a;
}

.eq{
    background-color: #0057e7;
    color: black;
}

